---
import MainLayout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";
import Hero from "../../components/jobbot/Hero.astro";
import Story from "../../components/jobbot/Story.astro";
import HowItWorks from "../../components/jobbot/HowItWorks.astro";
import SystemArchitecture from "../../components/jobbot/SystemArchitecture.astro";
import HowItStaysRunning from "../../components/jobbot/HowItStaysRunning.astro";
import HowItWorksForHer from "../../components/jobbot/HowItWorksForHer.astro";
import Challenges from "../../components/jobbot/Challenges.astro";
import Result from "../../components/jobbot/Result.astro";
import WhatILearned from "../../components/jobbot/WhatILearned.astro";
---

<MainLayout
  title="Jobbot"
  description="A real-time job monitoring and auto-accept system built for substitute teachers"
>
  <Nav />

  <main class="bg-gray-50 min-h-screen">
    <Hero />

    <article class="max-w-4xl mx-auto px-6 pb-20">
      <Story />
      <HowItWorks />
      <SystemArchitecture />
      <HowItStaysRunning />
      <HowItWorksForHer />
      <Challenges />
      <Result />
      <WhatILearned />
    </article>
  </main>

  <Footer />
</MainLayout>
