---
import "../styles/global.css";
import Head from "../components/Head.astro";

// Define what this layout expects to receive
export interface Props {
  title: string;
  description: string;
}

// Extract the props
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!-- Use our Head component and pass it the title and description -->
    <Head title={title} description={description} />
  </head>
  <body>
    <!-- This is where the page content will go -->
    <!-- <slot /> is like a placeholder that gets replaced with the actual page content -->
    <slot />
  </body>
</html>
